<div class="home-container">
    <div class="header">
        <div class="logo">NSO</div>
        <mat-tab-group>
            <mat-tab label="Query">
                Query screen
            </mat-tab>
            <mat-tab label="Group"> Group </mat-tab>
            <mat-tab label="Feeds">
                <app-feed></app-feed>
            </mat-tab>
            <mat-tab label="Rules & Alerts"> Rules and alert </mat-tab>
            <mat-tab label="User Management"> User Management page </mat-tab>
        </mat-tab-group>
        <div class="user-profile"></div>
    </div>
</div>