// colors
$mainOrange: #FFA651;
$mainRed: #FF5B66;
$mainGreen: #00C99E;
$mainPurple: #6647CC;
$secondaryPurple: #8155FF;
$mainBlue: #0F4C81;
$secondaryBlue: #59A5D8;

$black: #000;
$text: #111;
$blue: #0FABFF;
$blue2: #4C8CF1;
$blue3: #006498;
$blue4: #44739D;
$blue5: #104D81;
$blue6: #AFCFEA;
$blue7: #0A4C83;
$blue8: #0F4C80;
$Lblue: #b5e9ff;
$Lblue2: #2D3142;
$Lgrey: #f7f7f7;
$Lgrey2: #EFEFEF;
$Lgrey3: #BFC0C0;
$Lgrey4: #80858A;
$Lgrey5: #DDDDDD;
$Lgrey6: #F3EFEF;
$Lgrey7: #F3F3F3;
$Lgrey8: #F9F9F9;
$Lgrey9: #E0E0E0;
$Lgrey10: #D8D8D8;
$Lgrey11: #BCBCBC;
$Lgrey12: #868686;
$Ltext: #767676;
$gredient: linear-gradient(120deg, #56c4ff, #0982c6);
$purpleLink: #6951AF;
$Grey1: #6D7278;
$Grey2: #6F6F6F;
$lightBlue1: #3D98DA;
$LgreyOpacity: rgba(45, 49, 66, 0.4);
$Lgrey2Opacity: rgba(239, 239, 239, 0.22);
$whiteOpacity: rgba(255, 255, 255, 0.7);

$skkiper-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
$skkiper-box-shadow-2:  0 3px 16px 0 rgba(0,0,0,0.06);
$navigation-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

//fonts
$MFont: 'Montserrat', sans-serif;
$RFont: 'Raleway', sans-serif;
$NovaFont: 'Nova Flat', cursive;
$base-font-size: 14;

$headerHeight: 59px;
$mobileNavHeight: 56px;
$secondaryHeaderHeight: 100px;
$leftSidebarMaxWidth: 215px;

$signUpFormHeight: 590px;
$signUpFormMobileHeight: 445px;

$dashboardMobileHeaderPadding: 240px;
