<div class="item-container">
    <div class="item-wrapper">
        <img src="https://thumbs.dreamstime.com/b/creative-illustration-default-avatar-profile-placeholder-isolated-background-art-design-grey-photo-blank-template-mockup-144849704.jpg" alt="" class="item-avatar">
        <div class="item-content">
            <span class="author">{{name}}</span>
            <span class="username">@{{username}}</span>
            <span class="dot-separator">.</span>
            <span class="time">{{time}}</span>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse id beatae atque qui provident, nihil dolore quis reiciendis sed illum nesciunt exercitationem maxime nobis eius ex tempore deleniti! Maiores, minus.</p>
            <div class="item-actions">
                <div class="item-btn">
                    <mat-icon aria-hidden="false" aria-label="">chat_bubble_outline</mat-icon>
                    <div class="item-btn-span">4</div>
                </div>
                <div class="item-btn">
                    <mat-icon aria-hidden="false" aria-label="">repeat</mat-icon>
                    <div class="item-btn-span">4</div>
                </div>
                <div class="item-btn">
                    <mat-icon aria-hidden="false" aria-label="">favorite_border</mat-icon>
                    <div class="item-btn-span">4</div>
                </div>
            </div>
        </div>
    </div>
</div>