.query-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.list-pane {
  // background-color: white;
  // height: 100vh;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.current-query {
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 2px -2px gray;
  border-radius: 5px;
  margin-bottom: 20px;
}
.current-query h4 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
}
.current-query hr {
  margin-top: 18px;
}
.current-query .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.current-query .actions .mat-icon {
  margin-left: 20px;
}
::ng-deep .side-pane .mat-figure,
::ng-deep .main-pane .list-pane .mat-figure,
::ng-deep .main-pane .info-pane .mat-figure {
  padding-top: 20px !important;
}
.queries-history, .recent-queries {
  background-color: #ddd;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  padding-bottom: 5px;
  box-shadow: 0 2px 2px -2px gray;
}
.queries-history h4, .recent-queries h4 {
  margin: 0;
  color: black;
  font-weight: bold;
}

.queries-history li, .recent-queries li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recent-queries li {
  padding-top: 0;
  display: block;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.recent-queries .mat-icon {
  float: right;
}

.queries-history ul, .recent-queries ul {
  padding-left: 5px;
}
.queries-history li:hover {
  background-color: #eee;
  border-radius: 3px;
}
.feeds-history {
  margin-top: 10px;
}
::ng-deep .mat-figure {
  justify-content: left !important;
  align-items: flex-start !important;
  display: block !important;
}
::ng-deep .mat-grid-list {
  height: calc(100vh - 40px)
}

.side-pane,
.list-pane, 
.info-pane {
  flex-grow: 1;
  overflow: scroll !important;
}